* {
    box-sizing: border-box; /* Asegura que el padding y el border no afecten el ancho total */
}
html, body {
    height: 100%; /* Asegura que html y body ocupen el 100% de la altura de la ventana */
    margin: 0; /* Elimina el margen por defecto */
}
body {
    font-family: 'Amazon Ember', Arial, sans-serif;
    background-color: #f4f4f4; /* Color de fondo más suave */
    display: flex;
    flex-direction: column; /* Organiza los elementos en columna */
}
header {
    background: #37475a; /* Un azul oscuro */
    color: #ffffff;
    padding: 15px 10%;
    text-align: center;
}
h1 {
    font-size: 2.5em;
    margin: 0;
}
.car-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 10%;
    flex: 1; /* Permite que esta sección ocupe el espacio restante */
}
.car-item {
    background: #ffffff; /* Fondo blanco para las tarjetas */
    border: 1px solid #e0e0e0; /* Borde gris claro */
    border-radius: 8px; /* Bordes redondeados más suaves */
    margin: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra más suave */
    transition: transform 0.3s, box-shadow 0.3s; /* Animación fluida */
}
.car-item:hover {
    transform: translateY(-5px); /* Eleva el elemento al pasar el mouse */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada al hacer hover */
}
.car-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px; /* Bordes redondeados para la imagen */
    transition: transform 0.3s; /* Animación de la imagen */
}
.car-item:hover img {
    transform: scale(1.05); /* Aumenta el tamaño de la imagen al pasar el mouse */
}
h2 {
    font-size: 1.5em;
    margin: 10px 0;
    color: #333; /* Color del texto del título más oscuro */
}
p {
    font-size: 1em;
    color: #666; /* Color del texto de la descripción más suave */
}
button {
    background: #ff9900; /* Un naranja más suave */
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
    transition: background 0.3s, transform 0.3s; /* Animación fluida */
    width: 100%;
}
button:hover {
    background: #e68a00; /* Un naranja más oscuro al pasar el mouse */
    transform: scale(1.05); /* Aumenta el tamaño del botón al pasar el mouse */
}
footer {
    text-align: center;
    padding: 20px 0;
    background: #37475a; /* Mismo azul oscuro que el encabezado */
    color: #ffffff;
    width: 100%;
}
/* Estilos responsivos */
@media (max-width: 768px) {
    .car-item {
        width: 90%; /* Aumenta el ancho en pantallas más pequeñas */
    }
    h1 {
        font-size: 2em; /* Reduce el tamaño del título en pantallas pequeñas */
    }
    h2 {
        font-size: 1.25em; /* Reduce el tamaño de los títulos de los coches */
    }
}